<div *ngIf="!preload && top_banner != null" class="ps-block--promotion-header bg--cover" style="background: url(../../../assets/img/products/{{category}}/top/{{IMG}});">
    <div class="container">
        <div class="ps-block__left">
            <h3>{{H3}}</h3>
            <figure>
                <p>{{P1}}</p>
                <h4>{{H4}}</h4>
            </figure>
        </div>
        <div class="ps-block__center">
            <p>{{P2}}<span>{{Span}}</span></p>
        </div><a class="ps-btn ps-btn--sm" href="#">{{Button}}</a>
    </div>
</div>

<div *ngIf="preload && top_banner == null" class="d-flex justify-content-center">
    <div class="spinner-border text-muted my-3" style="width: 5rem; height: 5rem;"></div>
</div>